@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAF8F4;
}
.header {
    width: 80%;
    margin: auto;
}
nav {
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo img {
    width: 70px;
}
.nav-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}
.nav-list li {
    margin: auto  20px;
    font-weight: 600;
}
.nav-links {
    display: flex;
    color: #7B787C;
}
.nav-btns {
    display: flex;
}

.header-content {
    background: linear-gradient(to right, #BDB1C5, #DDD7D0);
    display: flex;
    min-height: 70vh;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.intro-text {
    flex-basis: 50%;
    padding: 50px;
}
.intro-text h1 {
    font-size: 60px;
}
.intro-text p {
    color: #7B787C;
}
.hero-img {
    flex-basis: 50%;
}
.hero-img img {
    max-width: 90%;
}

.btns {
    margin-top: 30px;
}
.btn-primary {
    padding: 12px 20px;
    background: linear-gradient(to right, #525252, #101010);
    border: none;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
}
.btn-secondary {
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid black;
    color: #101010;
    background: transparent;
}